@import 'normalize.scss';

//---------------------- COLOR -----------------------//

$color-black: #333;
$color-0: #4422B3;
$color-1: #FA8200;
$color-2: #FF91E6;
$color-3: #009DF7;


//---------------------- LAYOUT ----------------------//
$col-gutter-small: 12px;
$col-gutter-large: 20px;

$baseline-height: 12px;

$elements-margin: $baseline-height;
$elements-padding: $baseline-height;

$chart-width: 400px;
$chart-height: 300px;

$icon-size: 32px;



//-------------------- TYPOGRAPHY --------------------//
$font-sans: 'Heebo', sans-serif;
$font-mono: 'Inconsolata', monospace;

@mixin type-h1 {

  @include for-phone-down {

  }
}

@mixin type-h2 {

  font-size: 14px;
  font-family: $font-sans;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;  

  @include for-phone-down {

  }
}

@mixin type-h3 {

}

@mixin type-h4 {

}

@mixin type-h5 {

}

@mixin type-body-1 {
  font-size: 14px;
  line-height: $baseline-height*2;
  font-family: $font-mono;
  font-weight: 400;
}

@mixin type-body-2 {
  @include type-body-1;
  font-weight: 700;
}

@mixin type-small {
  font-size: 11px;
  font-family: $font-mono;
  font-weight: 700;
}

@mixin type-button {
  font-size: 11px;
  font-family: $font-sans;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

//-------------------- BUTTONS --------------------//

a {
  &.icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: $icon-size/2;
    background-color: $color-black;
  }
}



//-------------------- RESPONSIVE --------------------//

@mixin for-phone-down {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 900px) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 1200px) { @content; }
}

@mixin for-desktop-down {
  @media (max-width: 1799px) { @content; }
}

@mixin for-big-desktop-only {
  @media (min-width: 1800px) { @content; }
}


//-------------------- STYLES --------------------//

h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0 };

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: $color-black;
  @include type-body-1;
  text-align: center;
}

*:focus {
  outline: none;
}

.hidden {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  text-align: left;
  margin: auto;
}

.page {
  
  width: 100%;
  min-height: 100vh;
  margin: 0;
  border: 0;
  padding: $col-gutter-large;

  @include for-phone-down {
    padding: $col-gutter-small;
  }    
}

.filters-menu {
  text-align: center;
}

.chart-item {
  width: 100%;
}

svg.chart-canvas {

  width: $chart-width;
  height: $chart-height;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;

  &:first-child {
    margin-bottom: 30px;
  }

  &.hidden-canvas {
    opacity: 0;
    height: 0;
  }

  path {
    fill: none;
  }

  path, line {
    stroke-width: 2px;
  }

  g.axis {

    text {

    }

    line {
      stroke: $color-0;
    }

    &.x {
      path {
        stroke: $color-0;
        stroke-opacity: 0.24;
      }
    }

    &.y {
      path {
        stroke-opacity: 0;
      }
    }
  }

  g.time-series {
    path.line.disease {
      &:nth-child(1) { stroke: $color-1; }
      &:nth-child(2) { stroke: $color-2; }
      &:nth-child(3) { stroke: $color-3; }
    }
  }

  text {
    fill: $color-0;
  }
}

/*-------------------- LOADER --------------------*/
.loader-container{
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  // background-color: rgba(0, 0, 0, 0.24);

  .loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;
    border: 3px solid black;
    display: inline-block;
      -webkit-animation: myfirst 1s; /* Chrome, Safari, Opera */
      animation: myfirst 1s;
      -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
      animation-iteration-count: infinite;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
}