$color-0: #4422B3;
$color-1: #FA8200;
$color-2: #FF91E6;
$color-3: #009DF7;

$chart-width: 400px;
$chart-height: 300px;

body {
  // background-color: red;
  .test {
    h1 {
      color: white;
    }
  }
}

.hidden {
  display: none;
}

.selectize-control.multi {
  .selectize-input.items {
    div.item {
      background-color: transparent;
      &:nth-child(1) { color: $color-1; }
      &:nth-child(2) { color: $color-2; }
      &:nth-child(3) { color: $color-3; }
    }
  }
}

.charts-container {
  // display: flex;
  // flex-direction: row;
  width: 100%;
}

svg.chart-canvas {

  display: block;
  width: $chart-width;
  height: $chart-height;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;

  &:first-child {
    margin-bottom: 30px;
  }

  &.hidden-canvas {
    opacity: 0;
    height: 0;
  }

  path {
    fill: none;
  }

  path, line {
    stroke-width: 2px;
  }

  g.axis {

    line {
      stroke: $color-0;
    }

    &.x {
      path {
        stroke: $color-0;
        stroke-opacity: 0.24;
      }
    }

    &.y {
      path {
        stroke-opacity: 0;
      }
    }
  }

  g.time-series {
    path.line.disease {
      &:nth-child(1) { stroke: $color-1; }
      &:nth-child(2) { stroke: $color-2; }
      &:nth-child(3) { stroke: $color-3; }
    }
  }

  text {
    fill: $color-0;
  }
}

/*-------------------- LOADER --------------------*/
#loader-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.24);

  .loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;
    border: 3px solid black;
    display: inline-block;
      -webkit-animation: myfirst 1s; /* Chrome, Safari, Opera */
      animation: myfirst 1s;
      -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
      animation-iteration-count: infinite;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
}
