@import 'App';

#explore.page {

  background-color: $color-gray;

  .page-header {
    background-color: $color-gray;
    color: $color-0;
  }

  .confirm-nav {

    &:not(.hidden) {
      display: inline-block;
    }
    margin-left: $elements-margin;

    button {
      @include type-button;
      border: 2px solid $color-0;
      padding: $elements-padding * 0.5;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.25s;
      &:not(:first-child) {
        margin-left: $elements-margin;
      }
      &.primary {
        background-color: $color-0;
        color: white;
        &:hover {
          background-color: lighten($color-0, 12%);
        }
        &:disabled {
          opacity: 0.48;
        }
      }
      &.secondary {
        background-color: white;
        color: $color-0;
        &:hover {
          background-color: lighten($color-0, 48%);
        }
      }
    }
  }

  .top-queries-container {
    @include columns(1);

    h4 {
      border-bottom: 2px solid $color-0;
      margin-bottom: $baseline-height;
      line-height: $baseline-height * 4;
    }

    .list-container {
      p {
        @include type-body-2;
      }
      ol {
        padding-left: 0;
        list-style-position: inside;
        margin-top: 0;
      }
    }
  }
}
