@import 'App';

#explore.page {

  .page-body {
    background-color: darken($color-0, 10%);
  }

  .section-header {
    color: white;
  }

  .top-queries-container {
    @include columns(1);

    h4 {
      border-bottom: 2px solid rgba(0, 0, 0, 0.24);
      margin-bottom: $baseline-height;
      line-height: $baseline-height * 4;
    }

    .list-container {
      p {
        @include type-body-2;
      }
      ol {
        padding-left: 0;
        list-style-position: inside;
        margin-top: 0;
      }
    }
  }
}
