@import 'App';

#home.page {
  // background-color: darken($color-0, 10%);
  // background: linear-gradient(123deg, #FA8200 0%, #FD8B84 57%, #FD8B84 57%, #FE8B8C 61%, #FF91E6 100%, #FF91E6 100%, #FF91E6 100%);
  background: linear-gradient(123deg, darken($color-0, 10%) 0%, $color-0 100%);

  text-align: left;
  padding: $col-gutter-large;
  color: $color-0;
  height: 100vh;

  @include for-phone-down {
    padding: $col-gutter-small;
  };

  .country-container {
    // border-bottom: 2px solid $color-0;
    border-bottom: 2px solid white;
    padding-bottom: $baseline-height;
    display: inline-block;
    color: white;
    font-size: 16px;
    line-height: 21px;

    @include for-phone-down {
      @include type-body-1;
    };

    .disease-container, .country {
      font-weight: 700;
      @include for-phone-down {
        @include type-body-2;
      };
    }

    .disease-container {
      color: $color-1;
    }
  }

  .top-topics-list {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    .icon {
      position: absolute;

      @include for-phone-down {
        width: 35px;
        height: 35px;
      };

      &:nth-child(1), &:nth-child(2) {
        display: none;
      }

      svg, p {
        position: absolute;
        top: 0;
        width: 80px;
        height: 80px;
        display: block;
        transition-property: transform, opacity;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      }

      svg {
        path, polygon, circle, rect, ellipse, line {
          stroke: darken($color-0, 24%) !important;
        }
        &.flipped {
          transform: translateY(200%);
          opacity: 0;
          path, polygon, circle, rect, ellipse, line {
            // stroke: white !important;
            stroke: $color-2 !important;
          }
        }
      }

      p {
        font-size: 21px;
        opacity: 0;
        // color: white;
        color: $color-2;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &.flipped {
          opacity: 1;
        }
      }
    }
  }

  .title-container {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: $col-gutter-large;
    text-align: center;
    transform-style: preserve-3d;
    color: white;

    transition: transform 2s ease-out, opacity 1s ease-out 1s;
    transform: translate(-50%, 0) rotateX(50deg);
    opacity: 0;

    &.enter {
      transform: translate(-50%, -50%) rotateX(0);
      opacity: 1;
    }

    @include for-phone-down {
      top: auto;
      bottom: 5%;
      padding: $col-gutter-small;
    };

    h1 {
      font-size: 10vw;
      font-family: $font-sans;
      font-weight: 900;
      line-height: 8vw;
      padding: $baseline-height*2;
      margin-bottom: $baseline-height;
      // text-transform: uppercase;
      letter-spacing: 1px;
      // color: $color-0;
      background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, $color-1), color-stop(0.8, $color-2));
      background-image: gradient(linear, left top, right bottom, color-stop(0, $color-1), color-stop(0.8, $color-2));
      // background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #FA8200), color-stop(0.57, #FD8B84), color-stop(0.61, #FE8B8C), color-stop(1, #FF91E6));
      // background-image: gradient( linear, left top, right bottom, color-stop(0, #FA8200), color-stop(0.57, #FD8B84), color-stop(0.61, #FE8B8C), color-stop(1, #FF91E6));
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;

      @include for-phone-down {
        font-size: 12vw;
        line-height: 10vw;
      };
    }

    .logos-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .gabriel {
        font-family: $font-sans;
        font-weight: 400;
        font-size: 21px;
        line-height: $baseline-height*3;
        @include for-phone-down {
          @include type-intro;
        };
      }

      span {
        margin: 0 $elements-margin*2;
      }

      .google-news-lab-logo {
        width: 200px;
        height: $baseline-height*3;
        @include for-phone-down {
          width: 40%;
        }

        svg {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          fill: white;
        }
      }
    }
  }
}

@keyframes icon-drop{
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  25% {
    transform: translateY(200%);
    opacity: 0;
  }
  75% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
