@import 'App';

#home.page {
  background: linear-gradient(123deg, #FA8200 0%, #FD8B84 57%, #FD8B84 57%, #FE8B8C 61%, #FF91E6 100%, #FF91E6 100%, #FF91E6 100%);

  .title-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: $col-gutter-large;
    text-align: center;
    color: $color-0;

    @include for-phone-down {
      padding: $col-gutter-small;
    };

    h1 {
      font-size: 110px;
      font-family: $font-sans;
      font-weight: 900;
      line-height: $baseline-height * 8;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    p {
      max-width: 100%;
      width: 600px;
      margin: auto;
    }
  }
}
