@import 'App';

#intro.page {
  // display: flex;
  // flex-direction: row;
  //
  // .charts-container,
  // .copy-container {
  //   width: calc((100% - #{$col-gutter-large})/2);
  // }
  //
  // .charts-container {
  //   height: 100%;
  // }
  //
  // .copy-container {
  //   margin-left: $col-gutter-large;
  // }

  // #container{
    position: relative;
  // }
  .chart-item {
    position: absolute;
    top: 0px;
    width: calc((100% - #{$col-gutter-large}*5)/2);
    height: 45vh;
  }

  .sections-container {
    .section {
      width: 340px;
      height: 50vh;
      border: 1px solid black;
    }
  }

  .chart-item .graph-scroll-fixed{
    position: fixed;
  }

}
