@import 'App';

#stories.page {
  background-color: $color-0;

  .story-section {

    &:not(:last-child) {
      margin-bottom: $col-gutter-large*2;
    }

    @include for-phone-down {
      &:not(:last-child) {
        margin-bottom: $col-gutter-small*2;
      }
    }

    .section-header {
      color: white;
    }

    .case-copy {
      @include columns(1);
    }

    .stories-nav-bar {

      min-height: $baseline-height * 4;
      margin: 0 $col-gutter-large;
      background-color: white;
      border-bottom: 1px solid $color-0;

      @include for-phone-down {
        margin: 0 $col-gutter-small;
      };

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      a {
        @include type-button;
        cursor: pointer;
        display: inline-block;
        padding: $elements-padding/2;
        color: $color-0;
        margin-left: $elements-margin;
        transition-property: background-color, color;
        transition-duration: 0.25s;

        &:hover, &:active, &.active {
          background-color: $color-0;
          color: white;
        }
      }
    }

    .ranking-table {
      overflow-x: auto;
      width: 100%;
      white-space: nowrap;
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      // justify-content: flex-start;

      .ranking-column {
        display: inline-block;
        width: 10%;
        margin: 0 $elements-margin $elements-margin*2 0;

        @include for-phone-down {
          width: 30%;
        };

        .header {
          color: $color-0;
          border-bottom: 2px solid $color-0;
          padding-left: $elements-padding;
          @include type-body-2;
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            border-bottom: 1px solid $color-gray;
            padding-left: $elements-padding;
          }
        }
      }
    }
  }
}

input[type="range"] {
  width: calc(100% - 32px);
  margin-left: 32px;
}


.map {
  .country {
    // fill: white;
    // stroke: rgba(250, 130, 0, 0.5);
    stroke: #A696DB;
    stroke-width: 1px;
  }
}

// Tooltip
div.tooltip {
  position: absolute;
  text-align: center;
  width: 140px;
  height: 42px;
  padding: 3px 5px;
  background: rgba(68, 34, 179, 0.85);
  pointer-events: none;
  color: #fff;

  h4 {
    font-size: 11px;
    line-height: 16px;
    font-weight: 200;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    font-size: 18px;
    color: orange;
    font-weight: bold;
    line-height: 18px;
  }
}
