@import 'App';

#stories.page {
  background-color: $color-0;

  .story-section {

    .section-header {
      color: white;
    }

    .section-body {
      background-color: white;
      color: $color-black;

      .stories-nav-bar {

        p {
          display: inline-block;
          padding: 0 $elements-padding;
        }
      }
    }
  }
}
